@import url(https://fonts.googleapis.com/css?family=PT+Mono:300;);

.card-container {
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 241px;
  top: 138px;
  left: 16px;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
  gap: 1.6rem;
  text-align: center;
  cursor: pointer;
  .card-container__row {
    display: flex;
    justify-content: space-between;
  }
}

img {
  width: 27.6px;
  height: auto;
}

.icon {
  width: 45px;
  height: auto;
  margin-top: -0.4rem;
  margin-left: -0.8rem;
}

.chip img {
  width: 60px;
  height: auto;
}

.card-number {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.04em;

  font-family: "PT Mono", monospace;
}

.card-container__column {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.cardHolder-Opacity {
  opacity: 0.8;
  font-family: "PT Mono", monospace;
  font-size: 0.75rem;
  line-height: 13.44px;
  align-self: flex-start;
}

.card-text-style {
  font-family: "PT Mono", monospace;
  font-size: 18px;
  line-height: 20.16px;
  text-align: left;
}
h1 {
  width: 250px;
  height: 98px;
  top: 9px;
  left: 82px;
  font-family: Source Sans Pro;
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}
.date {
  text-align: right;
}
