@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.addCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 430px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  padding: 1rem;
}

h4 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 12px;
  line-height: 15.08px;
  font-weight: 600;
  padding: 0.5rem;
  color: rgba(34, 34, 34, 0.6);
}
