@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

h2 {
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  padding: 1rem;
}

.e-walletContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 430px;
  margin: 0 auto;
  gap: 2rem;
  padding: 1rem;
}

.cardStack .card-container {
  height: 60px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}
.cardStack .card-container:last-child {
  height: auto;
  border-radius: 5px 5px 5px 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
