.cardStack .card-container {
  height: 60px;
  overflow: hidden;
  border-radius: 0px;
}
.cardStack .card-container:last-child {
  height: auto;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
